<html>
<head>
    <title>Item Details</title>
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
</head>
<body>
    <h1>{{ ip }} data</h1>
    <div>
        <table id="dataDisplay">

        </table>
    </div>
</body>
<script>
    const websocketRootUrl = "ws://localhost:8000";
    const requestIP = "{{ ip }}";
    const wsServerData = new WebSocket(`${websocketRootUrl}/api/servers/${requestIP}`);

    wsServerData.addEventListener("message", function(event) {
        event.preventDefault()
        console.log(event.data)
        // applyServerData(event.data);
    });

    function applyServerData(response) {
        let displayElement = document.getElementById("dataDisplay");
        displayElement.innerHTML = "";
        let playersData = response.players_data;
        if (!response.enabled) {
            displayElement.innerHTML = "Server is disabled";
            return;
        }
        if (playersData.length === 0) {
            displayElement.innerHTML = "There's no players on the server";
            return;
        };
        playersData.forEach(playerData => {
            let trPlayerData = document.createElement("tr");
            let tdName = document.createElement("td");
            let tdWorld = document.createElement("td");
            let tdCoordinates = document.createElement("td");
            tdName.innerHTML = JSON.stringify(playerData.name);
            tdWorld.innerHTML = JSON.stringify(playerData.world);
            tdCoordinates.innerHTML = JSON.stringify(playerData.coordinates);
            trPlayerData.appendChild(tdName);
            trPlayerData.appendChild(tdWorld);
            trPlayerData.appendChild(tdCoordinates);
            displayElement.appendChild(trPlayerData);
        });
    }
</script>
</html>