<html>
<head>
    <title>Item Details</title>
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
</head>
<body onload=getServers()>
    <h1>Enabled servers</h1>
    <div>
        <ul id="dataDisplay">

        </ul>
    </div>
</body>
<script>
    const rootUrl = "ws://localhost:8000";
    const wsServersAPIurl = new URL(rootUrl + "/api/servers");

    async function getServers() {
        let ws = new WebSocket(wsServersAPIurl);
        ws.onmessage = function(event) {
            applyServers(event.data)
        };
    }

    function applyServers(data) {
        let displayElement = document.getElementById("dataDisplay");
        displayElement.innerHTML = "";
        data.forEach(server => {
            let liServer = document.createElement("li");
            let aServerLink = document.createElement("a");
            aServerLink.setAttribute("href", rootUrl + "/servers/" + server);
            aServerLink.innerHTML = server;
            liServer.appendChild(aServerLink);
            displayElement.appendChild(liServer);
        });
    }
</script>
</html>